.task-tabs{
    display: flex;
    width: 100%;
    background: grey;
    border-radius:10px;
    overflow:hidden;
    margin-bottom:20px;
}

.tab{
    flex: 1;
    padding: 12px 0;
    text-align: center;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab.active{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    border-color: grey;
}



